<div class="row">
  <!-- Profile info -->
  <div class="col-md-2">
    <h3><%= @user.name %></h3>
    <%= gravatar_tag @user.email, size: 150 %>
  </div>
  <!-- Places -->
  <div class="col-md-5">
    <h3>My Places</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @places.each do |place| %>
        <tr>
          <td><%= link_to place.name, place_path(place) %></td>
          <td><%= time_ago_in_words(place.created_at) %> ago</td>
          <td><%= link_to "", edit_place_path(place), class: "btn btn-default fa fa-pencil-square-o" %>  <%= link_to "", place_path(place), method: :delete, class: "btn btn-default fa fa-trash-o" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "New Place", new_place_path, class: "btn btn-default" %>
  </div>
  <!-- Reviews -->
  <div class="col-md-5">
    <h3>My Reviews</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Place</th>
          <th>Created</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
        <tr>
          <td><%= link_to review.place.name, place_path(review.place) %></td>
          <td><%= time_ago_in_words(review.created_at) %> ago</td>
          <td><div class="score_<%= review.id %>"></div></td>
          <td><%= link_to "", edit_review_path(review), class: "btn btn-default fa fa-pencil-square-o" %> <%= link_to "", review_path(review), method: :delete, class: "btn btn-default fa fa-trash-o"%></td>
        </tr>
        <% end %>

      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
<% @reviews.each do |review| %>
$(".score_<%= review.id %>").raty({
  starOn: "<%= image_path('star-on.png') %>",
  starOff: "<%= image_path('star-off.png') %>",
  score: <%= review.score %>,
  readOnly: true
});
<% end %>
</script>
