<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @place.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @place.website %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p>

<div id="map" style="width: 230px; height: 230px;"></div>

<%= @place.latitude %>
<%= @place.longitude %>

<%= link_to 'Edit', edit_place_path(@place), class: "btn btn-default" %> |
<%= link_to 'Back', places_path, class: "btn btn-default" %>


<script>
  function initMap() {
    var mycenter = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: mycenter
    });
    var marker = new google.maps.Marker({
      position: mycenter,
      map: map
    });
  }
</script>
